body{
    margin: 0;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}
.header{
width: 100%;
height: 90px;
background: #128c7e;
position: fixed;
top: 0;
z-index: 100;
}
.logo{
    margin-top: 25px;
    margin-left: 120px;
    float: left;
}
.navbar{
    float: left;
}
.navbar ul li{
    list-style-type:none;
    list-style-position: inherit;
    float: left;
    padding: 20px 10px;
    font-weight: lighter;
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
}
.section{
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    position: relative;
}
.section h1{
    position: absolute;
    font-size: 33px;
    top: 6rem;
    left: 17rem;
    font-weight: lighter;
    line-height: 43px;
}
.p1{
    position: absolute;
    font-size: 18px;
    top: 14rem;
    left: 17rem;
    font-weight: lighter;
    line-height: 26px;
}
.p2
{
    position: absolute;
    font-size: 15px;
    top: 20rem;
    left: 17rem;
    font-weight: lighter;
    line-height: 26px;
    color: grey;
}
.img1{
    position: absolute;
    top: 4rem;
    left: 48rem;
    width: 300px;
}
.iphone{
    position: absolute;
    font-size: 17px;
    top: 28rem;
    left: 17rem;
    font-weight: lighter;
    line-height: 26px;
    color: #128c7e;
    cursor: pointer;

}
.android{
    position: absolute;
    font-size: 17px;
    top: 26rem;
    left: 17rem;
    font-weight: lighter;
    line-height: 26px;
    color: #128c7e;
    cursor: pointer;
}
.system{
    position: absolute;
    font-size: 17px;
    top: 30rem;
    left: 17rem;
    font-weight: lighter;
    line-height: 26px;
    color: #128c7e;
    cursor: pointer;
}
.img2{
    position: absolute;
    top: 3px;
    left: 67px;
    cursor: pointer;
}
.img3{
    position: absolute;
    top: 3px;
    left: 160px;
    cursor: pointer;
}
.img4{
    position: absolute;
    top: 2px;
    left: -30px;
    cursor: pointer;
}
.div3{
    width: 50%;
    height: 880px;
    background: #dde3ec;
    position: absolute;
    float: left;
}
.div4{
    width: 48%;
    height: 880px;
    background: #eaedf3;
    left: 700px;
    position: absolute;
    float: left;
}
.div3 h1{
    margin-top: 6rem;
    text-align: center;
    font-weight: bold;
    top: 3rem;
}
.div3 p{
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.div3 img{
    margin-top: 4rem;
    width: 380px;
    margin-left: 165px;
}
.div4 img{
    width: 300px;
    position: absolute;
    top: 80px;
    left: 200px;
}
.para4{
position: absolute;
top: 380px;
left: 250px;
}
.div4 h1{
position: absolute;
top: 400px;
left: 215px;
}
.para5{
position: absolute;
top: 500px;
left: 95px;
right: 65px;
line-height: 23px;
}
.button-explore{
    position: absolute;
    top: 10rem;
    margin-left: -100px;
    padding: 12px 34px;
    background-color: #fff;
    border: 1px solid cyan;
    border-radius: 22px;
    color: rgb(197, 185, 185);
}

.button{
    position: relative;
    text-align: center;
    height: 18rem;
}
.content{
    position: relative;
    height: 880px;
    width: 100%;

}

.div5{
    width: 100%;
    height: 250px;
    background: #273443;
}

.list{
    float: left;

}


.list h1{
    color: #fff;
    padding-top: 40px;
    margin-left: 150px;
    font-size: 17px;
}
.list ul li{
    color: #fff;
    list-style-type: none;
    margin-left: 115px;
    font-size: 17px;
}
.div6{
    position: relative;
    height: 5rem;
    width: 100%;
    background: #1c1e21;
}
.div6 h4{
    color: #fff;
    position: absolute;
    top: 8px;
    left: 13rem;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

}
.div6 h6{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
    left: 65rem;
    position: absolute;
    
}
